<h1>Login!</h1>

<% flash.each do |type, msg| %>
    <div id="error_explanation">
        <%= msg %>
    </div>
    <br>
<% end %>

<%= form_tag("/login", method: "post") do %>
    <label>Email: </label>
    <input type="text" id="email" name="email"><br>
    <label>Password: </label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Log In">
<% end %>

<br>

