<h1>Hey <%= link_to @user.email, user_path(@user) %> </h1>
<%= link_to "Log Out", logout_path, method: :delete %>
<br><br>
<a href="/stories/new">Create a New Story</a>

<h1>Story Chains</h1>
<ul>
  <% @stories.each do |story| %>
  <li><%= link_to story.hook, story_path(story) %> </li>
  <% end %>
</ul>

