/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;

  font-family: 'Courier New', Courier, monospace;
  background-image: url("papers.png");
  background-repeat:repeat-y;
}

.chains {
  
  height: 100vh;
  position: fixed;
  right: 0px;
}

.logo {
  letter-spacing: 1em;
  font-weight: bolder;
  color: grey;
  animation: fancy 8s infinite alternate forwards;
}
  
@keyframes fancy {
  0% {
    letter-spacing: 1em;
  }
  
  100% {
    letter-spacing: 2em;
  }
}

#error_explanation {
    color: rgb(175, 8, 8);
  }

.story {
  background-color: rgb(214, 241, 247);
  padding: 3%;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.236);
}

textarea, input {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

li {
  background-color: rgb(214, 241, 247);
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.236);
  width: fit-content;
  list-style-type: none;  
  font-weight: bold;
  display: inline-block;
}

ul {
  padding-inline-start: 0px;
}

.welcome-box {
  background-color: rgb(214, 241, 247);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.236);
  width: fit-content;
  padding: 18px;
  font-weight: bold;
  border-radius: 7px;
}

a {
  text-decoration: none;
}

a:hover {
  color:rgb(175, 8, 8);
}
